
.hidden{
    display:none;
}

.footer {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.data-table td{
    text-align: center;
}

.data-table th{
    text-align: center;
}