<div class="page-header">
    <h1 translate>system.pages.headers.userManagement</h1>
</div>
<div class="ui-widget">
    <table ng-cloak class="table table-bordered table-hover" cellspacing="0" after-render="initializeJQueryUI">
        <thead class="ui-widget-header">
        <th translate>user.pages.list.table.headers.actions</th>
        <th translate>user.pages.list.table.headers.username</th>
        <th translate>user.pages.list.table.headers.firstName</th>
        <th translate>user.pages.list.table.headers.lastName</th>
        <th translate>user.pages.list.table.headers.userGroup</th>
        <th translate>user.pages.list.table.headers.systemUser</th>
        </thead>
        <tbody>
        <tr ng-repeat="user in model.users">
            <td>
                <button class="btn btn-default" ng-show="model.hasUserEditAccess" ng-click="edit(user)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-default" ng-show="model.hasUserDeleteAccess && !user.systemUser" ng-click="deleteUser(user)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
            <td>{{user.userName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.userGroupName}}</td>
            <td>{{user.systemUser}}</td>
        </tr>
        </tbody>
    </table>
    <button ng-click="create()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> <span translate>user.pages.list.table.headers.newUser</span></button>
</div>
