<div class="page-header">
    <h1 translate>system.pages.headers.userManagement</h1>
</div>
<table ng-cloak class="data-table table table-bordered table-hover" cellspacing="0">
    <thead class="ui-widget-header">
    <th translate>user.pages.list.table.headers.actions</th>
    <th translate>user.pages.list.table.headers.username</th>
    <th translate>user.pages.list.table.headers.firstName</th>
    <th translate>user.pages.list.table.headers.lastName</th>
    <th translate>user.pages.list.table.headers.userGroup</th>
    <th translate>user.pages.list.table.headers.systemUser</th>
    </thead>
    <tbody>
    <tr ng-repeat="user in model.users">
        <td>
            <button class="btn btn-default" ng-show="model.hasUserEditAccess" ng-click="edit(user)"
                    tooltip-placement="left" tooltip="{{'system.action.edit'|translate}}" >
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-default" ng-show="model.hasUserEditAccess" ng-click="copy(user)"
                    tooltip-placement="bottom" tooltip="{{'system.action.copy'|translate}}">
                <span class="glyphicon glyphicon-copy"></span>
            </button>
            <button class="btn btn-default" ng-show="model.hasUserDeleteAccess && !user.systemUser"
                    ng-click="deleteDialog(user)" tooltip-placement="right" tooltip="{{'system.action.delete'|translate}}">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
        <td>{{user.userName}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.userGroupName}}</td>
        <td>
            <div ng-if="user.systemUser == true" class="label label-success" translate>system.presentation.boolean.true</div>
            <div ng-if="user.systemUser == false"  class="label label-danger" translate>system.presentation.boolean.false</div>
        </td>
    </tr>
    </tbody>
</table>
<button ng-click="create()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> <span translate>user.pages.list.table.headers.newUser</span>
</button>
